{% extends "layout.html" %} {% block title %}Feedback :){% endblock %} {% block
head %} {{ super() }}
<style type="text/css">
  .feedback-wrapper {
    color: #336699;
  }

  .feedback-wrapper h1 {
    color: #336699;
  }
</style>
{% endblock %} {% block content %}
<h1 id="title">Feedback</h1>
<div class="feedback-wrapper">
  <form action="{{ url_for('feedback') }}" method="post">
    <label for="username">Username: </label>
    <input type="text" id="username" name="username" required />
    <label for="feedback">Enter your feedback:</label>
    <textarea id="feedback" name="feedback" required></textarea>
    <input type="submit" value="Submit" />
  </form>
  <div class="feedback-wrapper-inner">
    <div class="recent-feedback">
      <h1 class="fb-title">Recent Feedbacks:</h1>
      <p>{{ feedback }}</p>
    </div>
    <div class="all-feedback">
      <h1 class="fb-title">All Feedbacks:</h1>
      {% for user, fb in all_feedback %}
      <p>{{ user }}: {{ fb }}</p>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
